/* ==========================================================================
   elements : burger menu
   ========================================================================== */

.burger-menu {
  display: block;
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  &__bar {
    width: 26px;
    height: 3px;
    display: block;
    background-color: color(black);
    margin: 0 auto 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
