//-------------------------------------------------------------------------------
  @name: Header
  @description: Layout | Header
  -------------------------------------------------------------------------------//

//-Header
.header
  .container
    .header__wrapper
      a.header__logo(href="#")
        ='\n'
        img.header__logo__el(src="assets/img/logo/Logo-samsung.svg", alt="Logo Samsung")/
      .header__menu
        .header__menu__left
          ul.header__menu__list
            li.header__menu__item
              button.header__menu__button
                | shop
              .header__dropdown
                .header__dropdown__box
                  h3.header__dropdown__title
                    | New & Featured
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy M15 5G
                        span.header__dropdown__label
                          | BARU
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy Watch FE
                        span.header__dropdown__label
                          | BARU
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Washer & Drayer
                        span.header__dropdown__label
                          | BARU
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy Tab S6 Lite
                        span.header__dropdown__label
                          | BARU
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy AI is here
                        span.header__dropdown__label
                          | BARU
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Bespoke AI
                        span.header__dropdown__label
                          | BARU
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Samsung Shop App
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Samsung x You
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | SmarThings
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Design For Home
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Offers
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | All Offers
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Promo Tukar Tambah
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Deals of the week
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy A Series
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Go Large, Better Gaming Experience
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy S24 Series Offers
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Buy More Save More
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Digital Appliances Special Promo
                        | Free Delivery
                .header__dropdown__box
                  h3.header__dropdown__title
                    | why buy from Samsung
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Overview
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Program Tukar Tambah
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Free Delivery
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Bank Promo and 0% Installment
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Partnership
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Samsung Care
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Finance
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Benefits Program
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Daftar Program Reseller
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Daftar EPP (Employe Purchase Program)
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Daftar UPP (Student Offer)
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Samsung Experience Store
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Samsung Experience Store
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Samsung Live Space
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Store Pickup and Store
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | SLBS Studio
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy AI Zone
            li.header__menu__item
              button.header__menu__button
                | AI
              .header__dropdown
                .header__dropdown__box
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy AI
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Bespoke AI
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | All AI Products
            li.header__menu__item
              button.header__menu__button
                | Mobile
              .header__dropdown
                .header__dropdown__box
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Mobile
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy AI
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy Smartphone
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy Tab
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy Watch
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy Budds
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Aksesories Galaxy
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | One UI
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Apps & Services
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Galaxy Gifts
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Student Offers
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Why Galaxy
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Samsung Health
                .header__dropdown__box
                  h3.header__dropdown__title
                    | New & Featured
                  ul.header__dropdown__list
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/galaxyS24.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy S24 Ultra
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/galaxyS24+.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy S24 | S24+
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/GalaxyZfliv.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy Z Flip5
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/galaxyZFold.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy Z Fold5
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/GalaxyTab9.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy Tab S9 Series
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/galaxywatch.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy Watch6
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/galaxyA55.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy A55 5G
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/galaxyBuds.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy Buds2 Pro
                    li.header__dropdown__list
                      a.header__dropdown__link(href="#")
                        .header__dropdown__img
                          img.header__dropdown__img__el(src="assets/img/dummy/galaxyfit.png", alt="Galaxy S24 Ultra")
                        p.header__dropdown__desc
                          | Galaxy Fit3
            li.header__menu__item
              button.header__menu__button
                | TV & AV
              .header__dropdown
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Rekomendasi
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Help Me Choose my Tv
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Help Me Choose my Sound Device
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Mengapa Neon Qled
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Mengapa The Frame
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Whay Samsung Smart Tv
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | All About TV
                .header__dropdown__box
                  h3.header__dropdown__title
                    | TVs
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Tvs
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Neon QLED
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | OLED
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | QLED
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Crystal UHD
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Discover Lifestyle TVS
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | The Frame
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | The Serif
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | The Sero
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Aksesories Tv
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua TV
                .header__dropdown__box
                  h3.header__dropdown__title
                    | TV Berdasarkan Ukuran
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 98"
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 85"
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 75"
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 65"
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 55"
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 50"
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 43"
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 32"
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Ukuran TV yang Cocok
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Why Super Big Tv
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua TV berdasarkan Ukuran
                .header__dropdown__box
                  h3.header__dropdown__title
                    | TV Berdasarkan Resolusi
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 8K TVs
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | 4K TVs
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Full HD| HD TVs
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Projectors
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | The Premiere
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | The Freestyle
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Aksesori Projector
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Sound Devices
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Sound Devices
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Qris Soundbar
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | All in One Soundbars
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Soundbars with Subwooper
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Sound Tower
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua Sound Devices
            li.header__menu__item
              button.header__menu__button
                | Home Appliances
              .header__dropdown
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Rekomendasi
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Discover BESPOKE AI
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | in The Mood For Food
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Discover Home Appliances
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Kulkas Ungkep
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Samsung Food
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Appliances Buying Guide
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Desine For Home
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Kulkas
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua Kulkas
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | BESPOKE Refrigerators
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Kulkas Multi door
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Kulkas Side by Side
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Kulkas 2 Pintu
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Aksesoris
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Kulkas
                    li.header__dropdown_
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Mesin Cuci
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua Mesin Cuci
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | BESPOKE AI Combo
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | BESPOKE AirDresser
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Mesin Cuci Front Loading
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Mesin Cuci Top Loading
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Washer Dryer Package
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Dryers
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Mesin Cuci twin Club
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Aksesories
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan mesin Cuci
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Vacuum Cleaners
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua Vacuum Cleaners
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Stick Vacuum
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Robot Vacuum
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Canister Vacuum
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Aksesories                .header__dropdown__box
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Vacuum Cleaners
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Cooking Appliances
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua Cooking Appliances
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Solo Microwave
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Grill Microwave
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | BESPOKE Microwave
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Cooking Appliances
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Air Conditioners
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua Air Conditioners
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | WindFree
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Air Conditioners
                    h3.header__dropdown__title
                      | Air Purifier
                    ul.header__dropdown__list
                      li.header__dropdown__item
                        a.header__dropdown__link(href="#")
                          | Semua Air Purifier
                      li.header__dropdown__item
                        a.header__dropdown__link(href="#")
                          | BESPOKE Cube
                      li.header__dropdown__item
                        a.header__dropdown__link(href="#")
                          | Filter & Akesories
                      li.header__dropdown__item
                        a.header__dropdown__link(href="#")
                          | Temukan Air Purifier
            li.header__menu__item
              button.header__menu__button
                | Computing
              .header__dropdown
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Rekomendasi
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Odyssey Ark
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Odyseey Gaming Monitor
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Smart Monitor
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | High Resolution Monitor
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Chromebook
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Chromebook
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Chromebook 4
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Monitors
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Monitors
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Gaming
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Smart Monitor
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | High Resolution Monitor
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Curved
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Profesional
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Semua Monitors
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Memory & Storage
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Temukan Memory & Storage
            li.header__menu__item
              button.header__menu__button
                | Displays
              .header__dropdown
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Monitors
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Discover Monitors
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Help choose my monitor
                        span.header__dropdown__label
                          | BARU
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | All Monitors
                .header__dropdown__box
                  h3.header__dropdown__title
                    | For Business
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Smart Signage
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | LED Signage
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Commercial TVs
            li.header__menu__item
              a.header__menu__link(href="#")
                | Accesories
            li.header__menu__item
              a.header__menu__link(href="#")
                | SmarThings
        .header__menu__right
          ul.header__menu__list
            li.header__menu__item
              button.header__menu__button
                | Support
              .header__dropdown
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Dukungan Produk
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Halaman Dukugan
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Manual & Software
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Cari Bantuan
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | FAQ Toko Online
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Perbaikan & Garansi
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Informasi Garansi
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Lokasi Service Center
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Reservasi Perbaikan
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Lacak Status Perbaikan
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Biaya Suku Cadang Smartphone
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Biaya Pergantian Layar TV
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Jaminan Service AC 24 Jam
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Hubungi
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Chat
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Email
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Kontak Kami
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Bahasa Isyarat
                .header__dropdown__box
                  h3.header__dropdown__title
                    | Info Tambahan
                  ul.header__dropdown__list
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | Berita & Pemberitahuan
                    li.header__dropdown__item
                      a.header__dropdown__link(href="#")
                        | SC+ Service Center
            li.header__menu__item
              a.header__menu__link
                | For Business
      .heeader__utility
        .header__utility__search
          button.header__utility__button
            span Cari
            img.header__utility__img(src="assets/img/icon/Search.svg", alt="search")
        .header__utility__cart
          a.header__utility__button(href="#")
            img.header__utility__img(src="assets/img/icon/chart.svg", alt="cart")
        .header__utility__login
          a.header__utility__button(href="#")
            span Login/Sign-Up
            img.header__utility__img(src="assets/img/icon/user.svg", alt="User Login")
          ul.header__utility__list
            li.header__utility__item
              a.header__utility__link(href="#")
                | Login/Sign-Up
            li.header__utility__item
              a.header__utility__link(href="#")
                | Pesanan
            li.header__utility__item
              a.header__utility__link(href="#")
                | Product Registration
            li.header__utility__item
              a.header__utility__link(href="#")
                | Members
        button.burger-menu.js-burger-menu(type='button')
          ='\n'
          each val in [0, 1, 2]
            ='\n'
            span.burger-menu__bar
            ='\n'
